<div mat-dialog-content>
    <p>Choisissez votre date du rendez-vous</p>
    <!--<mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.dates">
  </mat-form-field>-->
    <mat-selection-list (selectionChange)="onChange($event)" [multiple]="false">
        <mat-list-option *ngFor="let date of data.dates" [value]="date">
            {{date}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.selectedDate" cdkFocusInitial>Ok</button>
</div>